:root {
  --header-height: 55px;
  --header-margin: 16px;
  --question-width: 50%;
  --feedback-width: 50%;

  --verde-ppal: #80ae3c;
  --verde-secd: #4b7312;
  --azul-psjes: #24244e;
  --cafe-secd: #4b0f13;
  --rojo-secd: #e6333e;
  --cyan-secd: #3bc7ed;
  --aqua-secd: #2cbdbd;
  --azul-secd: #121c33;
  --morado-secd: #a44cc1;
  --morado-shadow: #7e42a8;
  --crema: #eae1ce;
}

@font-face {
  font-family: 'Bungee';
  src: local('Bungee'), url(./assets/fuentes/Bungee-Regular.otf) format('opentype');
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--azul-secd);
}